@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url(/images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 700px;
  width: 100%;
  background-color: #ededed;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  opacity: 90%;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details {
  display: inline-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 0px 0;
}
.user-details .cariid {
  padding: 5px;
  margin: 10px 0 0 0;
  border-style: none;
  border-radius: 10px;
  background: linear-gradient(105deg, #000000, #4e4feb);
  color: #fff;
  text-decoration: none;
}
.content .hasilData p {
  margin: 0;
}
.content .hasilData .satu {
  margin-top: 10px;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
